
.icon-mail:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-wallet:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */