/** fonts used for the icons **/
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/fontomas-webfont.woff') format('woff'),
        url('fonts/fontomas-webfont.ttf') format('truetype'),
        url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/franchise-bold-webfont.woff') format('woff'),
        url('fonts/franchise-bold-webfont.ttf') format('truetype'),
        url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** reset default CSS3 values **/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body {
    margin: 8px;
    height: 100%;
    background-image: url(img/856.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 100vw;
    margin: 0 auto;
    z-index: 2;
}

.description {
    float: left;
    width: 50%;
}

.social {
    width: auto;
    margin: 100px 5px 5px 5px;
}

.social p {
    color: cadetblue;
    font-style: oblique;
    font-family: "Pacifico", cursive;
    margin 0px;
}

.motto {
    width: 500px;
    text-align: left;
    font-family: "Pacifico", cursive;
    color: cadetblue;
    margin: 50px 10px 10px 5px;
}

.motto1 {
    margin: 5px;
    font-size: 50px;
}

.motto2 {

    margin: 5px;
    font-size: 20px;
}

.fb {
    margin: 5px;
    width: 60px;
    height: 50px;
    text-align: center;
    color: cadetblue;
    left: auto;
    float: left;
}

.ln {
    margin: 5px;
    width: 60px;
    height: 50px;
    text-align: center;
    color: cadetblue;
    left: auto;
    float: left;
}

.gh {
    width: 60px;
    height: 50px;
    text-align: center;
    color: cadetblue;
    left: auto;
    float: left;
}

a.fblink {
    color: white;
    text-decoration: none;
    display: block;
    width: 60px;
    height: 50px;
}

a.lnlink {
    color: white;
    text-decoration: none;
    display: block;
    width: 60px;
    height: 50px;
}

a.ghlink {
    color: cadetblue;
    text-decoration: none;
    display: block;
    width: 60px;
    height: 50px;
}

.wrapper {
    width: 40%;
    right: 0px;
    min-height: 450px;
    margin: 0px auto;
    margin-top: 50px;
    position: relative;
    float: left;
}

.wrapper label {
    color: rgb(64, 92, 96);
    position: relative;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    border: 1px solid cadetblue;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    margin-bottom: 2px;
}


.login-box {
    width: 40%;
    max-height: 475px;
    position: absolute;
    color: white;
    background-color: transparent 0.2;
    border: 2px solid cadetblue;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    width: 88%;
    padding: 18px 6% 60px 6%;
    border: 2px solid rgba(147, 184, 189, 0.8);
    -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -webkit-box-shadow: 5px;
    -moz-border-radius: 5px;
}

.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid cadetblue;
    margin-bottom: 2px;
    padding: 13px 0;
    color: cadetblue;
    background: -webkit-repeating-linear-gradient(-45deg, rgb(18, 83, 93), rgb(18, 83, 93) 20px, rgb(64, 111, 118) 20px, rgb(64, 111, 118) 40px, rgb(18, 83, 93) 40px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

input {
    outline: none;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid cadetblue;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: 1px solid rgb(178, 178, 178);
    border-radius: 5px;
    outline: none;
    background-color: aliceblue;
    color: #1d3c41;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
    padding: 10px 5px 10px 32px;
}

.wrapper p.button input {
    width: 30%;
    cursor: pointer;
    position: relative;
    background: cadetblue;
    padding: 8px 5px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 24px;
    border: 1px solid rgb(28, 108, 122);
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgb(0 0 0 / 50%);
    text-align: center;
    letter-spacing: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 6px 4px rgb(0 0 0 / 7%) inset, 0px 0px 0px 3px rgb(254 254 254), 0px 5px 3px 3px rgb(210 210 210);
    -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
    box-shadow: 0px 1px 6px 4px rgb(0 0 0 / 7%) inset, 0px 0px 0px 3px rgb(254 254 254), 0px 5px 3px 3px rgb(210 210 210);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.keeplogin {
    margin-top: -5px;
    color: #1d3c41;
}

.keeplogin input,
.keeplogin label {
    display: inline-block;
    font-size: 12px;
    font-style: italic;
}

.keeplogin input#loginkeeping {
    margin-right: 5px;
}

.keeplogin label {
    width: 35%;
}

p.change_link {
    position: absolute;
    color: rgb(127, 124, 124);
    left: 0px;
    height: 36px;
    width: 100%;
    padding: 2px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid rgb(219, 229, 232);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    background-color: aliceblue;
}

.wrapper p.change_link a {
    display: inline-block;
    font-weight: bold;
    background: rgb(247, 248, 241);
    padding: 2px 6px;
    color: rgb(29, 162, 193);
    margin-right: 10px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgb(203, 213, 214);
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.wrapper p.change_link a:hover {
    color: rgb(57, 191, 215);
    background: rgb(247, 247, 247);
    border: 1px solid rgb(74, 179, 198);
}

.wrapper p.change_link a:active {
    position: relative;
    top: 1px;
}

[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(106, 159, 171);
    position: absolute;
    left: 10px;
    top: 36px;
    font-size: 20px;
    margin-left: 5px;
}


.page-footer {
    font-size: 16px;
    background-color: transparent;
    padding: 10px;
    margin-top: 100px;
    color: darkcyan;
    height: 20px;
}

.page-footer .container {
    display: flex;
    justify-content: space-between;

}

.page-footer p {
    font-family: "Arial";
    margin: 0;
}
